.component-button {
  display: inline-block;
  padding: 10px 12px;
  background-color: black;
  color: white;
  line-height: 1;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.component-button:hover {
  background-color: var(--main-color);
}
