.container {
  padding: 24px;
  background-color: white;
  border-radius: 8px;
  border: #f4f4f4 1px solid;
  overflow: hidden;
}

* + .container {
  margin-top: 24px;
}

.container.error {
  background-color: rgb(238, 208, 208);
  border: #cf9c9c 1px solid;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 16px;
  }
}
