.container {
  display: flex;
  position: relative;
  margin-top: 30px;
}

.container:first-of-type {
  margin-top: 0;
}

.first-panel {
  border-right: 1px solid #eee;
  padding-right: 16px;
  width: 250px;
  height: auto;
}

.name {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.contact {
  margin-top: 8px;
  font-size: 14px;
  color: #7f7f7f;
}

.contact p {
  margin: 0;
  margin-top: 2px;
}

.contact p:first-of-type {
  margin-top: 0;
}

.tags {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.tags p {
  margin: 0;
  padding: 4px;
  font-size: 16px;
  font-weight: bold;
  color: var(--main-color);
  background-color: #d9d9d9;
}

.tags .red-tag {
  color: red;
}

.second-panel {
  padding-left: 32px;
}

.second-panel p {
  margin: 0;
  margin-top: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #7f7f7f;
  font-size: 14px;
}

.second-panel p:first-of-type {
  margin-top: 0;
}

.more-button {
  background-color: white;
  border: 1px solid #eee;
  color: #7f7f7f;
  width: 32px;
  height: 32px;
  border-radius: 4px;

  position: absolute;
  cursor: pointer;
  right: 0px;
  top: 0px;

  /*
    (32px - 1px * 2 - 16px) / 2 = 7px
    (<전체 너비> - <border 너비> * 2 - <아이콘 너비>) / 2
  */
  padding: 7px;
}
