.track {
  position: absolute;
  inset-inline-start: 72px;
  inset-inline-end: 15px;
  bottom: 10px;
  z-index: 2;
  height: 6px;
  border-radius: 9999px;
  background: color-mix(in srgb, var(--chakra-colors-gray-500) 15%, transparent);
  opacity: 1;
  touch-action: none;
  cursor: pointer;
}

.track::before {
  position: absolute;
  inset: -2px 0;
  content: "";
}

.thumb {
  height: 100%;
  border-radius: inherit;
  background: color-mix(in srgb, var(--chakra-colors-gray-500) 35%, transparent);
  cursor: grab;
}

.track:is(:hover, :active) .thumb {
  background: color-mix(in srgb, var(--chakra-colors-gray-500) 50%, transparent);
}
