@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

:root {
  --main-color: #00a0e9;
  --main-color-hover: #0077b6;

  font-family: "Pretendard Variable", "Noto Sans KR", "맑은 고딕",
    "Malgun Gothic", "나눔고딕", "NanumGothic", "돋움", "Dotum", "Sans-serif";
}

html {
  background-color: #fcfcfc;
}

body {
  margin: 0;
}

h2 {
  margin: 0;
}

.mr-0 {
  margin-right: 0;
}

.mr-8 {
  margin-right: 8px;
}

.mr-16 {
  margin-right: 16px;
}
